name: Build Binaries 1
on:
  workflow_dispatch: 

jobs: 
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos, ubuntu]
    runs-on: ${{ matrix.os }}-latest
    steps:
    - name: Copy Repository Contents
      uses: actions/checkout@master  
      with:
        fetch-depth: 0 # get all tags
    - run: bash ./_action_files/update.sh
    - name: Build Binary
      id: binary
      run: ./_action_files/build1.sh
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: hugo
        path: hugo
